
<% include partials/header %>
<body background="imag.jpg">
 <div class="container">
     <header class="jumbotron vertical-center">
         <div class="container">
             <h1>Comparitive Sentiment Analysis</h1>
             <h3>News Coverage vs Public Opinion</h3>
             <p></p>
             <p>
                <a class="btn btn-primary btn-large active" href="/graph">Topic Modelling</a>
                <a class="btn btn-primary btn-large active" href="/side_bar">Parallel Coordinate Plots</a>
                <a class="btn btn-primary btn-large active" href="/slide">Slides</a>
                
             </p>
             
         </div>
        
     </header>
 
     
 <div class="container">
     <header class="jumbotron vertical-center">
         <div class="container">
             <h2>Aim</h2>
             <h4>Comparison of the concerns raised by the people of Texas against the ones raised by the Texan media houses through visualizations of the findings.</h4>
             <h2>Methodology</h2>
             <h4>We collected tweets from the region of Texas, using Twitter API. Tweets were segregated into two portions - from the 3 major news channels
             of Texas and those of general demography.
             This essentially gave us two datasets:</h4>
				<h4><ul>
					<li>News</li>
					<li>Public</li>
				</ul></h4>
		<h4>We apply Topic Modelling, Bag of Words, Text Mining and Machine Learning techniques on the two sets to define the topics and associated sentiments. This is where the Visualization comes into play, as the two datasets until now have been processed independently and need to be analyzed with respect to each other.
			</h4>
			<br>
			<div style="align-items: center; justify-content:center;">
			<img src="graph.png" style="width: 75%; align-items: center; justify-content:center;"></img>
			</div>
			<br>
			<h2>Questions we hope to address</h2>
			<h4>Some important questions we would like to find answers for are:</h4>
		<h4>	<ul>
				<li>In a given time frame, are the concerns of both the classes same?</li>
				<li>Is the sentiment for a given topic at a given time same or different? </li>
				<li>Change in the sentiment and the topics over time.</li>
			</ul>
			</h4>
            
             
         </div>
        
     </header>
   
     
 </div>
</body>
<% include partials/footer %>



